html, body {
    background-color: black;
    overflow: hidden;
    position: fixed;
}
.desktop-background {
    position: absolute;
    z-index: -1;

    width: 100vw;
    min-height: 100vh;

    background-color: gray;
}
.mobile-background {
    height: 100vh;
    background-color: white;
}
header {
    width: 100vw;
    background: black;
}
#my-links {
    flex-direction: column;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    color: black;
}