html, body {
    background-color: #e7e3d9;
    overflow: hidden;
    position: fixed;
}

header {
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #272319;
}
.header-text {
    font-size: 3em;
}
.color0 {
    color: #fbf8cc;
}
.color1 {
    color: #fde4cf;
}
.color2 {
    color: #ffcfd2;
}
.color3 {
    color: #f1c0e8;
}
.color4 {
    color: #cfbaf0;
}
.color5 {
    color: #a3c4f3;
}
.color6 {
    color: #90dbf4;
}
.color7 {
    color: #8eecf5;
}
.color8 {
    color: #98f5e1;
}
.color9 {
    color: #b9fbc0;
}
#aliens3-frame {
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100vw - 30px);

    background: #f2f2e4;

    padding: 3px;
    border-radius: 16px;
    border: 2px solid #c792df;
}