html, body {
    background-color: #c792df;
    overflow: hidden;
    position: fixed;
}
#background {
    min-width: 100vw;
    min-height: 100vh;
    background: #f4e409;

    position: absolute;
    z-index: -1;
}
header {
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #c792df;
}
.header-text {
    font-size: 2em;
    text-shadow:0 0 1px white;
}
.color1 {
    color: #f4e409;
}
.color0 {
    color: #f2f2e4;
}
.color2 {
    color: #addff7;
}
#aliens3-frame {
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100vw - 30px);

    background: #f2f2e4;

    padding: 3px;
    border-radius: 16px;
    border: 2px solid #c792df;
}