* {
    margin: 0;
    padding: 0;

    font-family: system-ui, sans-serif;
    font-size: 1em;
}

#contents {
    min-height: 100vh;
}

.state-cycler {
    cursor: pointer;
    border: .5vh solid white;
    border-radius: 1vh;
    background: white;
}

body {
    background-color: #c792df;
    overflow: hidden;
}
#background {
    min-width: 100vw;
    min-height: 100vh;
    background: #f4e409;

    position: absolute;
    z-index: -1;
}
header {
    width: 100vw;
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #c792df;
}
.header-text {
    font-size: 3em;
    text-shadow:0 0 1px white;
}
.color1 {
    color: #f4e409;
}
.color0 {
    color: #f2f2e4;
}
.color2 {
    color: #addff7;
}

#aliens3-frame {
    margin-top: 2vw;
    margin-left: 35vw;
    width: 30vw;

    background: #f2f2e4;

    padding: 3px;
    border-radius: 16px;
    border: 2px solid #c792df;
}

