* {
    margin: 0;
    padding: 0;

    font-family: system-ui, sans-serif;
    font-size: 1em;
}

#contents {
    min-height: 100vh;
}

.state-cycler {
    cursor: pointer;
    border: .5vh solid white;
    border-radius: 1vh;
    background: white;
}

html, body {
    width: calc((2.0/3) * 100vw);
    background-color: #c792df;
    overflow: hidden;
    position: fixed;
}
#background {
    min-width: calc((2.0/3) * 100vw);
    min-height: calc((2.0/3) * 100vh);
    background: #f4e409;

    position: absolute;
    z-index: -1;
}
header {
    width: calc((2.0/3) * 100vw);
    height: calc((2.0/30) * 100vh);

    display: flex;
    align-items: center;
    justify-content: center;

    background: #c792df;
}
.header-text {
    font-size: 2em;
    text-shadow:0 0 1px white;
}
.color1 {
    color: #f4e409;
}
.color0 {
    color: #f2f2e4;
}
.color2 {
    color: #addff7;
}
#aliens3-frame {
    margin-top: 10px;
    margin-left: 10px;
    width: calc(((2.0/3) * 100vw) - 30px);

    background: #f2f2e4;

    padding: 3px;
    border-radius: 16px;
    border: 2px solid #c792df;
}

