* {
    margin: 0;
    padding: 0;

    font-family: system-ui, sans-serif;
    font-size: 1em;
}

#contents {
    min-height: 100vh;
}

.state-cycler {
    cursor: pointer;
    border: .5vh solid white;
    border-radius: 1vh;
    background: white;
}

html, body {
    background-color: #272319;
    overflow: hidden;
    position: fixed;
}
#background {
    position: absolute;
    z-index: -1;

    width: 100vw;
    min-height: 100vh;

    background-color: #e7e3d9;
}
.contents-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    width: 100vw;
    height: 14vw;

    background: #272319;
}
.header-text {
    font-size: 14vw;
}
.color0 {
    color: #fbf8cc;
}
.color1 {
    color: #fde4cf;
}
.color2 {
    color: #ffcfd2;
}
.color3 {
    color: #f1c0e8;
}
.color4 {
    color: #cfbaf0;
}
.color5 {
    color: #a3c4f3;
}
.color6 {
    color: #90dbf4;
}
.color7 {
    color: #8eecf5;
}
.color8 {
    color: #98f5e1;
}
.color9 {
    color: #b9fbc0;
}
#my-links {
    flex-direction: column;
}
.link {
    color: #272319;
    font-size: 8vw;
}
.link-container {
    height: 10vw;
    
    display: flex;
    align-items: center;


}
.new-line {
    height: 5vw;
}

@media only screen and (min-width: 768px) {
    header {
        height: 13vh;
    }
    .header-text {
        font-size: 14vh;
    }
    .link {
        font-size: 4vh;
    }
    .link-container {
        height: 5vh;
    }
    .new-line {
        height: 2.5vh;
    }
}

