:root {
    font-size: 20px;
    --clr-accent: rgb(128, 128, 128);
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(27, 14, 30);
    --sys-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    font-family: var(--sys-fonts);
    margin: 0;
    padding: 0;
    line-height: 1;
}

html {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--clr-white);
}

header {
    margin-top: .3rem;
    color: var(--clr-black);
}

header > h1 {
    margin-left: 0.5rem;
}

header > p {
    margin-left: 0.5rem;
    color: var(--clr-black);
}

nav {
    height: 2rem;
    margin-top: calc(0.5rem + 2px);

    cursor: pointer;

    box-shadow: var(--clr-black) 0 0 0.4rem 2px;
}

nav > ul {
    list-style-type: none;
    font-size: 0;

    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

nav > ul > li {
    display: inline-block;
    vertical-align: top;
    transform: translateY(-0.5rem);
    height: 2rem;
    width: 25%;

    background-color: var(--clr-black);
    box-shadow: 
        var(--clr-white) 0 0 0 2px;
}

nav > ul > li:hover {
    background-color: var(--clr-accent);
    transition: background-color 100ms;
}

nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--clr-white);
}

@media screen and (max-width: 22.2rem) {
    nav {
        height: 3rem;
    }
    nav > ul {
        height: calc(2*100% / 3);
    }
    nav > ul > li {
        height:150%;
    }
    .info-gh::after {
        opacity: 0;
    }
}

.info-gh:hover::after {
    content: "Opens GitHub in a new tab.";
    font-size: 0.75rem;
    white-space: nowrap;

    position: absolute;
    top: calc(2rem + 2px);
    left: 0;
    height: 0.75rem;
    width: auto;
    padding: 0.125rem;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    
    color: var(--clr-white);
    background-color: var(--clr-black);

    box-shadow: var(--clr-white) 0 0 0 1px;
    
    animation: slide-in 300ms;
}

@keyframes slide-in {
    0% {left: -10rem;}
    100% {left: 0;}
}

section {
    margin-top: calc(0.5rem + 2px);
}

section > h3 {
    margin-left: 0.5rem;
}